<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Play</title>
</head>
<body>
    <div align="center">
        <h1>Guess the Number Game</h1>
        <h3 id="main-message">
            Main Message Content
        </h3>
        <h3 id="result-message">
            Result Message Content
        </h3>

        <form id="game-form" action="play" method="post">
            <label for="guess">Enter your guess</label>
            <input id="guess" type="number" name="guess"/>
            <input type="submit" value="Submit"/>
        </form>

        <footer id="footerId">
            <p>Footer Content</p>
        </footer>

    </div>
</body>
</html>